@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

html {
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

}

#left-side {
    background-image: url(../sign-up-form/src/signup-image.jpg);
    flex: 1;
    max-width: 527px;
}

.left-right {
    padding-left: 55px;
    padding-right: 45px;

}

#right-side {
    flex: 1;

}

#top-text {
    padding-right: 70px;
    padding-top: 165px;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: whitesmoke;
}

#form-header { font-size: 23px; color: #313131; font-weight: 700;padding-top: 14px; padding-bottom: 14px;}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form > div {
    padding-right: 70px;
    padding-bottom: 15px;
}

input {
    height: 27px;
    outline: none;
    
}

div > label {font-size: 13px; color: #313131; font-weight: 700;}
.validInput:focus {
    outline: none;
    border: 1px solid #4e5ce0;
    box-shadow: 0 0 10px #194b80;
}

.invalid {
    outline: none;
    border: 1px solid #e0584e;
    box-shadow: 0 0 0px;
}